.header{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    position:sticky; 
    width: 13%; 
    border-right: 2px solid rgb(0, 0, 0); 
}

.head{
    margin: 0 10px;
    border-bottom: 1px solid #fff;
    font-size: 15px;
    display: flex;
    padding: 0  10px;

}
.ml{
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-top: 10px;
}
.ml a{
    border: 1px solid white ; 
    border-radius: 10px;
    width: 150px;
    display: flex; 
    justify-content: center; 
    text-decoration: none; 
    color: #000;
    background-color: white; 
    font-size: 10px;
    margin-top: 30px; 
}
.ml a:hover{
    background-color: rgb(85, 148, 148);
}
body{
    background-color: grey; 
    display: flex; 
    flex-direction: row; 
    margin: 0;
}

section{
    padding: 10px;
}

.input{
    padding: 50px 20px;
    border: 1px solid rgb(0, 0, 0) ;
    background-color: #fff;
    width: 800px;
    height: 60px;
    margin: 40px;   
}

.input input{
  margin-bottom: 20px;
 
  
}

.input button{
    background-color: #000;
    color: aliceblue;
    font-size: 20px;
    width: 30%;
    height: 40px;
}

.input button:hover{
    background-color: rgba(0,0,0,0.4);
}



.tb{
    margin: 0px; 
    width: 100%; 
    border: 2px solid rgb(255, 255, 255); 
    background-color: #fff;
}

.tb th{
    border-bottom: 2px solid rgb(0, 255, 55);
}

.tb tbody{
    text-align: center
}

section h1,h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
}